:root {
    --ifm-navbar-background-color: #1976d2;
    --ifm-navbar-link-color: #fff;
    --ifm-navbar-link-hover-color: #fff;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .3);
    height: 64px;
}

.navbar__toggle {
    color: #fff;
}

.navbar-sidebar {
    background: #fff;
}

.navbar-sidebar .navbar__title {
    color: #000;
}

.navbar__link:hover {
    background: hsla(0,0%,100%,.15);}
